<!DOCTYPE html>
<html>

<head>
    <title>{{ Title }}</title>
    <link rel="stylesheet" href="../templates/style.css">
</head>

<body>
    <div>
        <h1>Report of music data from Spotify between {{ years_string }}</h1>

        <article>
            <h4>Information about used terms</h4>
            <ul>
                <li>
                    length - The duration of the track in seconds.
                </li>
                <li>
                    key - The estimated overall key of the track. Integers map to pitches using standard Pitch Class
                    notation. If no key was detected, the value is -1.
                </li>
                <li>
                    mode - Mode indicates the modality (major or minor) of a track, the type of scale from which its
                    melodic content is derived. Major is represented by 1 and minor is 0.
                </li>
                <li>
                    acousticness - A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents
                    high confidence the track is acoustic. The distribution of values for this feature look like this:
                    Acousticness distribution
                </li>
                <li>
                    danceability - Danceability describes how suitable a track is for dancing based on a combination of
                    musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value
                    of 0.0 is least danceable and 1.0 is most danceable.
                </li>
                <li>
                    energy - Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and
                    activity.
                </li>
                <li>
                    instrumentalness - Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated
                    as instrumental in this context. Rap or spoken word tracks are clearly “vocal”. The closer the
                    instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values
                    above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value
                    approaches 1.0.
                </li>
                <li>
                    liveness - Detects the presence of an audience in the recording. Higher liveness values represent an
                    increased probability that the track was performed live. A value above 0.8 provides strong
                    likelihood that the track is live.
                </li>
                <li>
                    loudness - The overall loudness of a track in decibels (dB). Loudness values are averaged across the
                    entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a
                    sound that is the primary psychological correlate of physical strength (amplitude). Values typical
                    range between -60 and 0 db.
                </li>
                <li>
                    speechiness - Speechiness detects the presence of spoken words in a track. The more exclusively
                    speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute
                    value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values
                    between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or
                    layered, including such cases as rap music. Values below 0.33 most likely represent music and other
                    non-speech-like tracks.
                </li>
                <li>
                    valence - A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks
                    with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low
                    valence sound more negative (e.g. sad, depressed, angry).
                </li>
                <li>
                    tempo - The overall estimated tempo of a track in beats per minute (BPM). In musical terminology,
                    tempo is the speed or pace of a given piece and derives directly from the average beat duration.
                </li>
                <li>
                    popularity - The popularity of the track. The value will be between 0 and 100, with 100 being the
                    most popular. The popularity is calculated by Spotify algorithm. 
                </li>
                <li>
                    explicitness - Gives 1 if song contains explicit content, and 0 if it does not.
                </li>
                <li>
                    top10 - List of ten artists with the greatest number of hits in "database". 
                </li>
                <li>
                    top10popular - List of ten artists with the greatest popularity rate.
                </li>
            </ul>
        </article>

        <ol>
            {% for i in range(general|length) %}
                <li><span class="big_text">{{ category[i] }}</span><br><img src={{ general[i] }} /></li>
            {% endfor %}
        </ol>

        {% if coef_info %}
            <ul>
                <li>
                    <h3>
                        Detected correlations:
                    </h3>
                    {{ coef_info }}
                </li>
            </ul>
        {% endif %}

    </div>
    <div>
        <ul>
            {% for key, val in infos.items() %}
                <li>{{ key | upper }}: {{val}}</li>
            {% endfor %}
		</ul>
    </div>

    <footer>
        Made by: Bartosz Rogowski <br>
        Source of the data: <a href="https://www.kaggle.com/yamaerenay/spotify-dataset-19212020-160k-tracks"
            target="_blank" title="link to the source of the data">*click*</a><br>
        Source of the background image: <a href="https://pixabay.com/illustrations/spotify-streaming-music-1360002/"
            target="_blank" title="link to the source of the background image">*click*</a><br>
        <br>Python in Engineering Calculations 2020/2021
    </footer>

</body>

</html>